{
  "root": true,
  "extends": ["@sanity/eslint-config-studio"],
  "overrides": [
    {
      "files": ["sanity.cli.ts", "sanity.config.ts", "schemas/**/*.ts"],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ]
}
